@import "tailwindcss";

:root {
  --white: #ffffff;
  --background: #FFE4B4;
  --black: #000000;
  --peanut: #C68642;
  --selected: #FFF2EA;
  --green: #44C997;
}

@theme inline {
  --color-background: var(--background);
  --color-font: var(--black);
  --color-primary_button: var(--green);
  --color-shadow: var(--peanut);
  --color-selected: var(--selected);
  --font-sans: var(--font-satoshi);
  --font-display: var(--font-shrikhand);
}


body {
  background: var(--background);
  color: var(--black);
  font-family: var(--font-satoshi), sans-serif;
}

.font-shrikhand {
  font-family: var(--font-shrikhand), serif;
}
